# Banco de dados (MySQL)
MYSQL_ROOT_PASSWORD="root"
MYSQL_DATABASE="chamados"
MYSQL_PORT=3306
MYSQL_HOST="chamados-db"

# Prisma (ajuste para uso interno)
DATABASE_URL="mysql://root:${MYSQL_ROOT_PASSWORD}@db:${MYSQL_PORT}/${MYSQL_DATABASE}"

# Server configuration
PORT=3333

# Authentication and security
JWT_SECRET="secret"
JWT_EXPIRATION="1d"

# Stripe
STRIPE_SECRET_KEY="stripe_secret_key"

# Google
GOOGLE_PASS_KEY="google_pass_key"

