# Database configuration
DATABASE_URL="postgresql://user:password@localhost:5432/database_name"

# Server configuration
PORT=3000
HOST="localhost"

# Authentication and security
JWT_SECRET="secret_key"
JWT_EXPIRATION="1h"

# Stripe
STRIPE_SECRET_KEY="stripe_secret_key"

# Google
GOOGLE_PASS_KEY="google_pass_key"
